body{
   margin: 0;

}

#container{
    position: relative;
    background-color: #2a7b9d;
    width: 1536px;
    height: 703px;
}

#backgroundImageContainer{
background-color: #4e88b6;
position: relative;
top: 75px;
left: 940px;
width: 550px;
height: 300px;
border-radius: 25px;
transition: transform 0.3s ease;
cursor: pointer;
}
#backgroundImageContainer:hover{
    transform: scale(1.1);
}

.photo1{
 position: absolute;
 top: 15px;
 left: 90px;
 height: 120px;
 border-radius: 5%;
}

.photo2{
 position: absolute;
 top: 20px;
 left: 280px;
 height: 270px;
 width: 250px;
 border-radius:10px;
}

.photo3{
 position: absolute;
 top: 140px;
 left: 45px;
 height: 150px;
 border-radius: 5%;
}

#headlinesContainer{
    background-image: url(../images/image\ copy\ 3.png);
    background-size: 100% 100%;
    position: relative;
    top: 60px;
    left: 430px;
    height: 300px;
    width: 700px;
    border-radius: 20px;
}

#headline{
    position: absolute;
    top: -20px;
    left: 170px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

#title{
    position: absolute;
    top: 5px;
    left: 10px;
    height: 340px;
    width: 890px;
}

.text1,#text9,#text10{
    position: absolute;
    top: 365px;
    left: 20px;
    font-size: 40px;
    color: white;
}

.text2{
    position: absolute;
    top: 450px;
    left: 15px;
    font-family: 'Poppins',sans-serif ;
    font-size: 25px;
    color: white;
}

#text3{
    position: absolute;
    background-color: #4e88b6;
    border-radius: 25px;
    top: 60px;
    left: 20px;
    height: 285px;
    width: 380px;
}

#text4{
    position: absolute;
    background-color: #4e88b6;
    border-radius: 25px;
    top: 60px;
    left: 1160px;
    height:285px;
    width:350px;
}

#text5,#text6{
   position: absolute;
   font-family: 'Poppins',sans-serif;
   font-size: 20px;
   color: white; 
}

#text5{
    top: 100px;
    left: 20px;
}

#text6{
    top: 140px;
    left: 20px;
}

#text7,#text8{
    position: absolute;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: white;
}

#text7{
    top: 80px;
    left: 10px;
}

#text8{
    top: 150px;
    left: 10px;
}

#text9{
    top: -5px;
    left: 20px;
}
#text10{
    top: -10px;
}
#button1,#button2,#button3,#button4{
    background-color: transparent;
    border: transparent;
    position: absolute;
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    color: white;
}

#button1{
    top: 0px;
    left: 1000px;
}

#button2{
    top: 0px;
    left: 1180px;
}

#button3{
    top: 0px;
    left: 1350px;
}

#button4{
    top: 0px;
    left: 850px;
}