body{
   margin: 0;

}

#container{
    position: relative;
    background-color: #f1f7ed;
    width: 1536px;
    height: 703px;
}

#backgroundImageContainer{
background-color: #508b7f;
position: relative;
top: 25px;
left: 20px;
width: 1500px;
height: 350px;
border-radius: 25px;
}

.photo1{
 position: absolute;
 top: 15px;
 left: 940px;
 height: 150px;
 border-radius: 5%;
}

.photo2{
 position: absolute;
 top: 30px;
 left: 1180px;
 height: 300px;
 width: 300px;
 border-radius:10px;
}

.photo3{
 position: absolute;
 top: 170px;
 left: 910px;
 height: 170px;
 border-radius: 5%;
}

#headlinesContainer{
    background-image: url(../images/image\ copy\ 3.png);
    background-size: 100% 100%;
    position: relative;
    top: 10px;
    left: 445px;
    height: 300px;
    width: 700px;
    border-radius: 20px;
}

#headline{
    position: absolute;
    top: -20px;
    left: 150px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

#title{
    position: absolute;
    top: 5px;
    left: 10px;
    height: 340px;
    width: 890px;
}

.text1{
    position: absolute;
    top: -5px;
    left: 250px;
    font-size: 40px;
    color: white;
}

.text2{
    position: absolute;
    top: 60px;
    left: 15px;
    font-family: 'Poppins',sans-serif ;
    font-size: 30px;
    color: white;
}

#text3{
    position: absolute;
    top: 15px;
    left: 6px;
    height: 300px;
    width: 430px;
    border: 1px solid blue;
}

#text4{
    position: absolute;
    top: 15px;
    left: 1150px;
    height:300px;
    width:380px;
    border: 1px solid blue;
}

